body {
  display: flex;
  justify-content: center; }
  body .flexform {
    height: 300px;
    width: 200px;
    margin: 5%;
    display: flex;
    flex-flow: row wrap;
    background-color: #90EA90; }
    body .flexform .output {
      height: 38px;
      width: 128px;
      border: 1px solid green;
      overflow: hidden;
      padding: 10px;
      color: grey;
      font-size: 20px; }
    body .flexform button {
      height: 60px;
      width: 50px;
      margin: 0;
      background-color: #90EA90;
      color: grey;
      border: 1px solid green; }
      body .flexform button:hover {
        color: yellow;
        background-color: #3ada3a; }

